
h1{
    color: coral;
    font-family: Baby Sunshine;
}
h3{
    color:cornflowerblue;
    font-family: League Spartan;
}
h4{
    color: dodgerblue;
    font-family: Blenda Script;
}
p{
    color: green;
    
}
